<% if(currentError) { %>
    <div id="stackError"><%= currentError.message %></div>
<% } %>
<% for(var i = stackItemsToDisplay - 1 - (currentError ? 1 : 0); i >= 0; i--) { %>
    <div class="stackItem">
      <div class="stackItemNumber"><%= (i + 1) %>:</div>
      <div class="stackItemValue"><%= helpers.stackItemToString(rpncalc.stack[i]) %></div>
    </div>
<% } %>
<input id="stackInput" class="stackItem stackItemInput" value="<%= stackInputValue %>">
