<div id="stackError"><%= currentError ? currentError.message : '&nbsp;' %></div>
<div id="stackItemsContainer">
  <% for(var i = Math.max(stackItemsToDisplay - 1, rpncalc.stack.length - 1); i >= 0; i--) { %>
    <div class="stackItem">
      <div class="stackItemNumber"><%= (i + 1) %>:</div>
      <div class="stackItemValue"><%= helpers.stackItemToString(rpncalc.stack[i]) %></div>
    </div>
  <% } %>
</div>
<div id="stackInputContainer">
  <input id="stackInput" class="stackItem stackItemInput" value="<%= stackInputValue %>">
</div>
