@statusBarHeight: 20px;
@buttonsHeight: 190px;
@stackErrorHeight: 20px;
@stackInputContainerHeight: 25px;

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#calc {
}

/*********** status bar ************/
#statusBar {
  text-align: center;
  height: @statusBarHeight;
}

#statusBar div {
  display: inline-block;
}

/*********** stack *****************/
#stack {
  left: 0;
  right: -1;
  top: @statusBarHeight;
  bottom: @buttonsHeight;
  position: fixed;
}

#stackError {
  height: @stackErrorHeight;
}

#stackItemsContainer {
  overflow-y: scroll;
  padding-right: 5px;
  position: fixed;
  left: 0;
  right: -1;
  top: (@statusBarHeight + @stackErrorHeight);
  bottom: (@buttonsHeight + @stackInputContainerHeight + 1);
  padding-left: 5px;
}

.stackItem {
  height: 1.2em;
}

.stackItemNumber {
  float: left;
}

.stackItemValue {
  text-align: right;
}

#stackInput {
  text-align: left;
  width: 100%;
  border: none;
  font-size: 12pt;
}

#stackInputContainer {
  height: @stackInputContainerHeight;
  position: fixed;
  left: 0;
  right: -1;
  bottom: @buttonsHeight;
  padding-left: 5px;
}

#stackInput:focus {
  outline: none;
}

/*********** buttons ***************/
#buttons {
  bottom: 0;
  height: @buttonsHeight;
  position: fixed;
}

#buttons button {
  width: 50px;
  height: 30px;
  margin: 3px;
}

#buttons button.empty {
  visibility: hidden;
}