body {
  margin: 0;
}

#calc {
  border: 1px solid #000000;
  padding: 5px;
}

/*********** status bar ************/
#statusBar {
  text-align: center;
}

#statusBar div {
  display: inline-block;
}

/*********** stack *****************/
#stack {

}

#stackError {

}

.stackItemNumber {
  float: left;
}

.stackItemValue {
  text-align: right;
}

#stackInput {
  text-align: right;
  border: none;
}

#stackInput:focus {
  outline: none;
}

/*********** buttons ***************/
#buttons {

}
