/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
html,
body {
  background-color: #ffffff;
  height: 100%;
}
body {
  margin: 0;
}
/*********** status bar ************/
#statusBar {
  text-align: center;
  height: 20px;
}
#statusBar div {
  display: inline-block;
  padding-right: 5px;
  border-right: 1px solid #858585;
}
#statusBar div.firstItem {
  padding-left: 5px;
  border-left: 1px solid #858585;
}
/*********** error *****************/
#error {
  display: none;
  background-color: #ff5858;
  color: #f8f8f8;
  position: fixed;
  top: 20px;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 100000;
}
/*********** stack *****************/
#stack {
  left: 0;
  right: -1;
  top: 20px;
  bottom: 190px;
  position: fixed;
}
#stackItemsContainer {
  overflow-y: scroll;
  padding-right: 5px;
  position: fixed;
  left: 0;
  right: -1;
  top: 20px;
  bottom: 216px;
  padding-left: 5 px;
}
@media (max-width: 400px) {
  #stackItemsContainer {
    bottom: 356px;
  }
}
.stackItem {
  height: 1.2em;
  border-bottom: 1px solid #f6f6f6;
}
.stackItemNumber {
  float: left;
}
.stackItemValue {
  text-align: right;
}
#stackInput {
  text-align: left;
  width: 100%;
  border: none;
  font-size: 12pt;
}
#stackInputContainer {
  height: 25px;
  position: fixed;
  left: 0;
  right: -1;
  bottom: 190px;
  padding-left: 5 px;
}
@media (max-width: 400px) {
  #stackInputContainer {
    bottom: 330px;
  }
}
#stackInput:focus {
  outline: none;
}
/*********** buttons ***************/
#buttons {
  bottom: 0;
  height: 190px;
  position: fixed;
}
@media (max-width: 400px) {
  #buttons {
    height: 330px;
  }
}
.buttonsFirstGroup {
  float: left;
}
@media (max-width: 400px) {
  .buttonsFirstGroup {
    float: none;
  }
}
.buttonsSecondGroup {
  float: right;
}
@media (max-width: 400px) {
  .buttonsSecondGroup {
    float: none;
  }
}
#buttons div {
  white-space: nowrap;
}
#buttons button {
  width: 40px;
  height: 30px;
  margin: 3px;
}
#buttons div.wider button {
  width: 51.5px;
}
#buttons div button.widest {
  width: 90px;
}
#buttons button.empty {
  visibility: hidden;
}
/*********** help ******************/
#help h2 {
  margin-bottom: 5px;
}
#help h3 {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
#help pre {
  margin-top: 0;
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
  background-color: #f3eed6;
}
.helpEnter {
  color: #505050;
  font-size: 8pt;
}
#commandList {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
#commandList .commandName {
  display: inline-block;
  width: 75px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
#commandList .commandDescription {
  display: inline;
}
/*************** graph **************/
input.graphExtent {
  border: none;
  text-align: right;
  width: 50px;
}
input.graphExtent:focus {
  outline: none;
}
#graph {
  border: 1px solid black;
}
.graphAxis {
  stroke: #989898;
  width: 1;
}
.graphEquation {
  stroke: #ee0300;
  fill: none;
  width: 1;
}
