body {
  margin: 0;
}
#calc {
  padding: 5px;
}
/*********** status bar ************/
#statusBar {
  text-align: center;
}
#statusBar div {
  display: inline-block;
}
/*********** stack *****************/
#stackItemsContainer {
  overflow-y: scroll;
  vertical-align: text-bottom;
  padding-right: 5px;
}
.stackItem {
  height: 1.2em;
}
.stackItemNumber {
  float: left;
}
.stackItemValue {
  text-align: right;
}
#stackInput {
  text-align: left;
  border: none;
  font-size: 12pt;
}
#stackInputContainer {
  height: 25px;
  margin-left: 0px;
}
#stackInput:focus {
  outline: none;
}
/*********** buttons ***************/
#buttons button {
  width: 50px;
  height: 30px;
  margin: 3px;
}
#buttons button.empty {
  visibility: hidden;
}
